.swiper-button-next {
  right: 35px;
  color: #ffba08;
}

.swiper-button-prev {
  left: 35px;
  color: #ffba08;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #ffba08;
  border: 1px solid #9e7308;
}
